/* the reason the border is overlapping is be cause the elements are different sizes.
Or at least that's my best guess. My suggestion would be to fake the funk by
overlapping the black onto the colored ones uzing z-indexes.
*/
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'DS-Digi';
  src: url('fonts/DS-DIGIB.TTF');
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  height: 100%;
  background: linear-gradient(rgb(50, 50, 50), rgb(225, 225, 225), rgb(50, 50, 50));
}
header {
  display: -webkit-flex;
  display: flex;
  background: linear-gradient(rgb(0, 0, 0), rgb(75, 75, 75));
  height: 10%;
  position: relative;
  padding: 3%;
  width: 100%;
  color: white;
  text-align: center;
  border-bottom: 10px solid transparent;
}
h1 {
  text-align: center;
  height: 100%;
  margin: 0 auto;
  margin-top: -1%;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  text-shadow: 3px 3px black;
}
h3 {
  margin: -20px 0 5px 0;
  font-size: 3em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/*classes & IDs */

#begin {
  float: right;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-top: -2%;
  margin-right: 28%;
  background-color: rgb(35, 250, 0);
  border: 2px solid transparent;
  border-color: rgb(35, 200, 0);
  border-radius: 100%;
  opacity: 0.5
}
#board {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  z-index: 10;
}
#center-button {
  position: absolute;
  left: 50%;
  margin-left: -101px;
  margin-top: 150px;
  background-color:white;
  border: 20px solid rgb(30, 30, 30);
  background-color: rgb(30, 30, 30);
  color: white;
  padding-top: 60px;
  width:200px;
  height:200px;
  border-radius:100%;
  text-align: center;
}
#highscores {
  position: relative;
  width: 150px;
  float: right;
  margin: 1%;
  background-color: rgb(75, 75, 75);
  color: white;
  font-size: 1em;
  padding: 1% 0% 1% 0%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
#highscores li {
  font-family: monospace;
  font-size: 1.2em;
}
.highscore {
  margin: 0 auto;
  margin-right: 35%;
}
.highScoreNumber {
  display: inline-block;
  margin-left: 20%;
}
.instructions {
  width: 15%;
  float: left;
  margin: 1%;
  background-color: rgb(60, 60, 60);
  color: white;
  font-size: 1em;
  padding: 0% 2% 0% 3%;
  margin-top: -1%;
  opacity: 0;
  transition:.3s;
  font-family: 'Roboto', sans-serif;
}
.instructions li {
  margin-top: 11%;
  margin-bottom: 11%;
}
#instruction-start {
  width: 15%;
  margin: 1%;
  padding: 1%;
  background-color: rgb(60, 60, 60);
  color: white;
  font-size: 1.4em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
#lose {
  float: left;
  margin: 0 auto;
  margin-left: 29%;
  opacity: 0;
  font-family: 'Roboto', sans-serif;
}
.quadrant {
  border: 15px solid transparent;
  border-color: rgb(30, 30, 30);
  border-radius: 999px;
  height: 50%;
  width: 50%;
  float: left;
}
#quadrant1 {
  border-radius: 100% 0px 0px 0px;
}

#quadrant2 {
  border-radius: 0px 100% 0px 0px;
}

#quadrant3 {
  border-radius: 0px 0px 0px 100%;
}

#quadrant4 {
  border-radius: 0px 0px 100% 0px;
}
#score {
  float: left;
  height: 30px;
  width: 32px;
  margin: 0 auto;
  margin-top: -1.8%;
  margin-left: 26%;
  padding: 1% 3% 1% 3%;
  color: rgb(98, 255, 59);
  border: 2px solid transparent;
  border-color: black;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
  background-color: gray;
  font-family: 'DS-Digi';
}
.scoreName {
  display: inline-block;
  margin-right: 10%;
}
.simon {
  height: 100%;
  width: 100%;
  float: left;
  opacity: .2;
  z-index: -1;
}
#green {
  background-color: green;
  border-radius: 100% 0px 0px 0px;
}
#red {
  background-color: red;
  border-radius: 0px 100% 0px 0px;
}
#blue {
  background-color: blue;
  border-radius: 0px 0px 0px 100%;
}
#yellow {
  background-color: yellow;
  border-radius: 0px 0px 100% 0px;
}

/*make the sidebar disappear if the page gets too small, so it doesn't shove the simon board out of place*/
@media (max-width: 800px) {
  #sidebar {
    width: 0px;
    opacity: 0;
  }
}
