* {
  box-sizing: border-box;
}

#board {
  height: 500px;
  width: 500px;
	display: inline-block;
}
button {
  float:none;
}
.simon {
  height: 250px;
  width: 250px;
  float: left;
}

.quadrant {
  border: 1px solid transparent;
  border-color: black;
  border-radius: 999px;
  height: 50%;
  width: 50%;
  float: left;
}

#quadrant1 {
  border-radius: 100% 0px 0px 0px;
}

#quadrant2 {
  border-radius: 0px 100% 0px 0px;
}

#quadrant3 {
  border-radius: 0px 0px 0px 100%;
}

#quadrant4 {
  border-radius: 0px 0px 100% 0px;
}

#green {
  background-color: green;
  border-radius: 100% 0px 0px 0px;
  opacity: 0;
}

#red {
  background-color: red;
  border-radius: 0px 100% 0px 0px;
  opacity: 0;
}

#blue {
  background-color: blue;
  border-radius: 0px 0px 0px 100%;
  opacity: 0;
}

#yellow {
  background-color: yellow;
  border-radius: 0px 0px 100% 0px;
  opacity: 0;
}
